.App {
  text-align: center;

}
// linear-gradient( rgba(177, 233, 120, 0.4),
//    rgba(176, 236, 86, 0.2)  ),

.container {
  max-width: 1440px;
  // @include mx-auto;
  // @include padding-x(0.75rem, 0.75rem);

  @include devices(xl) {
      max-width: 1280px;
  }

  @include devices(lg) {
      max-width: 1024px;
  }

  @include devices(md) {
      max-width: 768px;
  }

  @include devices(sm) {
      max-width: 640px;
  }

  @include devices(xs) {
      width: 100%;
  }
}





.input_box {
  position: relative;
}

.input_field {
  display: block;
  background: transparent;
  color: #fff;
  width: 100%;
  padding: 0.65rem 0.55rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid rgba($color: #ffffff, $alpha: 0.3);

  &:focus {
      border-color: rgba($color: #ffffff, $alpha: 0.6);
  }
}

.input_label {
  line-height: 1;
  pointer-events: none;
}



.modal_centered {
  // @include centered;
  min-height: calc(100% - 3rem);
  margin: 1.5rem;

  @include devices(xs) {
      min-height: calc(100% - 1rem);
      margin: 0.5rem;
  }
}

