@import '../base/variables';
@import '../base/font';

.HomeScreen{

  h1{
    font-family: $font-Varela;
  }
  h5{
    color: $light
  }
  .take{
    font-weight: bold;
    color: $primary;
  }
  .pale{
    color: $light
  }
  .header-home{
  background:   url("../../image/home/cabecera-web.png");
  min-height: 60vh;
  width: 100%;
  background-position: center 100%;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
  }
  div{
    justify-content: space-around;
  }
  .row{
    margin: 40px 0;
  }
  .info{
    max-width: 300px;
    padding: 10px;
    gap: 10px;
    img{
      max-height: 200px;
      border-radius: 20%;
    }
  }
 

}

.link-card{
  a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

.Map{
  color: $primary;
  font-family: $font-Varela;
  margin: 60px 0;
}

// .transparent {
//   opacity: 0.8;
//   -moz-opacity: 0.7;
//   filter: alpha(opacity=70);
//   -khtml-opacity: 0.7;
// }




