@import '../base/variables';
@import '../base/font';

.DetailScreen {
  margin: 30px 0;
  text-align: center;
  color: $primary;
  font-family: $font-Varela;

  h5{
    color: $light;
    strong{
      color: $primary;
    }
  }
  button{
    margin-bottom: 20px;
  }

  .light{
    color: $light;
    font-weight: bold;
  }
  
  .card-detail{
    margin: 10px 0;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1px solid lightgray;
  }
  textarea {
    width: 90%;
    border: 1px solid $primary;
 
  }
  .last{
    margin-bottom: 40px;
  }
  .start-div{
    text-align: start; 
    margin: 10px auto;
    max-width: 650px;

    .comment{
      max-width: 600px;
    }

    .driver{
      margin-bottom: 10px ;
      .start{
        text-align: start;
      }
      img{
        text-align: end;
        
      }
     
    }
  }
  .img-buddy{
    padding: 0;
    margin: 5px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover; 
  }

}