@import '../base/variables';
@import '../base/font';

.FormScreen {
  margin: 30px 0;
  text-align: center;
  color: $primary;
  font-family: $font-Varela;

  select{
    max-width: 650px;
  }
  h1{
    font-weight: bold;
  }
  .start-div {
    text-align: start; 
    margin: 10px auto;
    max-width: 650px;
  }
  .Input{
    margin: 10px 0;
  }
}
