@import '../base/variables';

.button {
  background-color: $secondary;
  padding: 5px 10px;
  border: 1px solid $primary;
  font-size:20px;
  border-radius:10px;
  cursor:pointer;
  color: rgb(53, 50, 50);
  font-weight:bold;
  box-shadow:1px 2px 3px rgba(0,0,0,0.3);
  text-decoration:wavy;
  margin: 10px 0 10px 0;
  
  &:hover {
    background-color: $primary;
  }
}

button{
  max-width: 200px;
  max-height: 50px;
}

*:disabled {
  background-color: rgb(87, 110, 101);
  color: linen;
  opacity: 1;
}