@import '../base/variables';

.card{
  border: 1px solid $primary;
  box-shadow: 0 10px 10px rgba(0,0,0,.4);
  border-radius: 10px;
  text-decoration:wavy;
  color: $primary;
  margin: 10px;
  

  &:hover {
    color: rgb(137, 58, 202);
  }

}


.link-card{
  a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}