@import '../base/font';
@import '../base/variables';


.footer-distributed {
  background-color: $primary;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px $font-Varela;
  padding: 45px 50px;
  .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
    a {
      margin-left: 20px;
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }
    a:before {
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }  
    a:hover{text-decoration:underline;}  
  }
  .footer-right {
    margin-left: 0;
    float: right;
    margin-top: 6px;
    max-width: 200px;
    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: $secondary;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-left: 5px;
      transition:all .25s;
    }
    a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  }
  
}


/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
