@import '../base/font';
@import '../base/variables';

.Navbar{
  font-size: large;
  background-color: $primary;
  
  .navbar-brand{
    font-family: $font-Varela;
    color: #ffff;
  }
  .navbar__li{
    padding: 20px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #ffff;
  }
  a:hover{
    color: $secondary;
  }
  
  img{
    text-align: end;
    max-width: 35px;
    max-height: 35px;
  }
}